
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  width: 100vw;
  height: 100vh;
}

.error{
  color: #f05305;
}

.image{
  height: 20px;
  width: auto;
}

.marker {
  transform: translate(-50%, -100%);
}

.popup {
  max-width: 50vw;
  padding: 1rem;
  display: contents;
  cursor: default;
}

.popupWrapper {
  z-index: 1;
}

.popup img {
  display: block;
  width: auto;
  height: 200px;
}

.wrapper{
  position: relative;
  z-index: 9999999;
}

.popup .actions {
  display: flex;
  justify-content: space-between;
}

.popup .actions .left {
  display: flex;
  min-width: 55px;
  justify-content: space-between;
}

.popup .actions svg {
  cursor: pointer;
}

.popup .actions .right {
}

.entry-form label {
  font-size: 1.5rem;
}

.entry-form label,
.entry-form input,
.entry-form textarea
.entry-form button {
  display: block;
  margin: 0.5rem 0;
  width: 100%;
}
